* {
  margin: 0;
  box-sizing: border-box;
  font-family: "assets/fonts/Mona Sans", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Mona Sans";
  src: url("assets/fonts/Mona-Sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

.background {
  position: fixed;
  z-index: -1;
}

body {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #25272b;
  height: 100%;
  width: 20%;
}

nav h1 {
  margin-top: 10%;
}

nav > h1,
nav > a {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: left;
}

.section {
  margin: 2%;
}

nav .footer {
  margin-top: auto;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

nav .footer h2 {
  font-size: 20px;
  font-weight: light;
  text-align: center;
}

nav .footer h3 {
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
}

html,
body {
  height: 100%;
}

.background {
  z-index: -1;
}

body {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #25272b;
  height: 100%;
  width: 20%;
}

nav h1 {
  margin-top: 10%;
}

nav > h1,
nav > a {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: left;
}

.section {
  margin: 2%;
}

nav .footer {
  margin-top: auto;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

nav .footer h2 {
  font-size: 20px;
  font-weight: light;
  text-align: center;
}

nav .footer h3 {
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
}
