* {
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
}

main * {
  margin: 2% 0 0 0;
}
main > div {
  margin-bottom: 24px; /* Adjust this value as needed */
}

@font-face {
  font-family: "Mona Sans";
  src: url("assets/fonts/Mona-Sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/fonts/JetBrainsMono/JetBrainsMono-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2")
      format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2")
      format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  margin: 0;
}

.background {
  position: fixed;
  z-index: -1;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: "Phantom Sans", monospace;
}

nav {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #25272b;
  height: auto;
  width: 23%;
  min-height: 100vh;
  font-family: "JetBrains Mono", monospace;
}

nav h1 {
  margin-top: 10%;
  font-weight: 700;
  font-size: 20px;
  margin-right: 5%;
}

nav > ul > li > a {
  font-weight: 700;
}

nav ul ul li a {
  font-weight: 300;
}

nav ul {
  margin-bottom: 20px;
}

main {
  margin: 2%;
  margin-left: 25%;
}

main h2 {
  font-size: 40px;
}

main h3 {
  font-size: 30px;
}

main p {
  font-size: 20px;
}
/* 
main ul li {
  font-size: 20px;
} */

nav .footer {
  font-size: 3px;
  margin: auto auto 10% auto;
  text-align: center;
}

nav .footer h2 {
  font-size: 15px;
  text-align: center;
}

nav .footer h3,
nav .footer a {
  font-size: 10px;
  text-align: center;
}

.background {
  z-index: -1;
  background-size: cover;
}

nav > h1,
nav > a {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: left;
}

.nav-item {
  font-size: 15px;
}

.sub-nav-item {
  font-size: 12px;
  padding: 1px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  margin-top: 10%;
  margin-left: 10%;
}

.title img {
  max-width: 20%;
}

.gradient-hr {
  height: 4px;
  border: none;
  background-image: linear-gradient(
    to right,
    #aa20cd,
    #2f0479,
    #000240,
    #2f0479,
    #aa20cd
  );
}

nav h1,
a {
  text-decoration: none;
}

nav h1:hover,
a:hover {
  text-decoration: wavy underline rgb(156, 31, 156);
  text-decoration-thickness: 1px;
}
